{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid" style="background-color: #140c24; min-height: 100vh; color: white;">

    <div id="institution" class="text-center py-5">
        <h1>CERTIFICATES</h1>
        <img id="logo" src="{% static 'img/favicon.ico' %}" alt="Logo JnBenites" 
             class="img-fluid mx-auto d-block" 
             style="max-height: 100px; width: auto; padding-bottom: 15px;">
    </div>

    <form method="GET" action="" id="searchForm" class="mb-4 mx-auto" style="max-width: 600px;">
        <input type="text" name="q" id="searchInput" 
               class="form-control text-center" 
               placeholder="Search..." autocomplete="off">
    </form>

    <div id="resultsList" class="mx-auto accordion" style="max-width: 600px;"></div>

</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/searchCertificates.js' %}"></script>
{% endblock %}